<div class='contextual-region'>
{{ attach_library('webtrees_views/webtrees_views') }}

{% for value in data %}
  {% if value|length %}
    <a href="{{ value['url'] }}" class="{{ value['class'] }}">
    {% if '' == value['title'] %}
      &nbsp;
    {% else %}
      {{ value['title'] }}
    {% endif %}</a><br>
  {% else %}
    <hr class='favorites-menu'>
  {% endif %}
{% endfor %}
</div>
