/* Favorites Menu Styles */

hr.favorites-menu {
  margin-bottom: 0px;
}

.favorites-menu-secondary {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto;
  margin-bottom: 1em;
}

.favorites-menu-groups {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2,min-content) auto;
  margin-bottom: 1em;
}

.favorites-menu-active-group {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2,min-content) auto;
  margin-bottom: 1em;
}

.favorites-menu-grid-full-row {
  grid-column-start: 1;
  grid-column-end: -1;
}

.favorites-menu-center {
  display: flex;
  justify-content: center; 
}

.favorites-menu-move-option::after {
  content: " --";
}

.not-used .favorites-menu-group {
  border-top: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid grey 1px;
  margin-top: 0.4em;
}
.favorites-menu-group::before {
  content: "\0272a\02001 [";
}
.favorites-menu-group::after {
  content: "]";
}
.not-used .favorites-menu-first-group {
  margin-top: 0px;
}

.favorites-menu-other-tree::after {
  content: "\0a0\2b50";
}

.favorites-menu-INDI::before {
  content: "\1f464\0a0";
}
.favorites-menu-FAM::before {
  content: "\1f46a\0a0";
}
.favorites-menu-OBJE::before {
  content: "\1f5ba\0a0";
}
.favorites-menu-REPO::before {
  content: "\1f50d\0a0";
}
.favorites-menu-NOTE::before {
  content: "\1F4F0\0a0";
}
.favorites-menu-SOUR::before {
  content: "\0270E\0a0";
}
.favorites-menu-URL::before {
  content: "\1f517\0a0";
}

